<article class="MainContainer">
  <h1 [ngClass]="{emailBlack}" class="Title">Personal Page</h1>
  <div class="InfoContainer">
    <app-avatar></app-avatar>

    <div class="ItemInfoContainer">
      <app-main-info
        [fullName]="Person.fullName"
        [birthday]="Person.birthday"
        [mobilPhone]="Person.mobilPhone"
        [city]="Person.city"
        [ShowName]="ShowName"
      ></app-main-info>
      <app-extra-info
        [email]="Person.email"
        [workExperience]="Person.workExperience"
        [skills]="Person.skills"
        [desiredSalary]="Person.desiredSalary"
        [percentLearnReact]="Person.percentLearnReact"
        [programmingLanguage]="Person.programmingLanguage"
      >
      </app-extra-info>
    </div>
  </div>
  <app-key-skills [keySkills]="keySkills"></app-key-skills>
  <app-work-experience
    [epam]="workExperience.epam"
    [elma]="workExperience.elma"
    [google]="workExperience.google"
  ></app-work-experience>
  <app-about-skills
    [skills]="skills"
    [sertificate]="sertificate"
  ></app-about-skills>
</article>
