<section class="WorkExpContainer">
  <h1 class="Title">Work Experience:</h1>
  <ul class="WorkExpList">
    <li class="WorkExpItem">
      <span class="DateOfWork"
        >{{ this.epam.firstDate }} - {{ this.epam.endDate }}</span
      ><span>{{ this.epam.position }} ({{ this.epam.company }})</span>
    </li>
    <li class="WorkExpItem">
      <span class="DateOfWork"
        >{{ this.elma.firstDate }} - {{ this.elma.endDate }}</span
      ><span>{{ this.elma.position }} ({{ this.elma.company }})</span>
    </li>
    <li class="WorkExpItem">
      <span class="DateOfWork"
        >{{ this.google.firstDate }} - {{ this.google.endDate }}</span
      ><span>{{ this.google.position }} ({{ this.google.company }})</span>
    </li>
  </ul>
</section>
